body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: white;
  padding: 30px; }

.headiing-secondary-text {
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700; }
  .headiing-secondary-text:hover {
    transform: skewY(0deg) skewX(15deg);
    translate: all 0.2s; }

.bug-text {
  color: #55c57a; }

.section-about-text {
  color: #9d9d9d;
  padding-left: 20%;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.section-about-text.paragraph {
  padding-top: 1%;
  font-size: 0.75rem; }
  .section-about-text.paragraph:not(:last-child) {
    margin-bottom: 8rem; }

.make-paragraph {
  width: 60%; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 5rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-about-image {
  padding-right: 25%;
  color: red; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 10px 30px #00000020; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0px 5px 10px #00000020; }

.btn-white {
  background-color: white;
  color: #777777;
  padding: 15px 40px; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative; }

.btn-text {
  transition: all 0.2s; }
  .btn-text:link, .btn-text:visited {
    color: #55c57a;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #55c57a;
    padding: 3px;
    font-size: 1.6rem; }
  .btn-text:hover {
    background-color: #55c57a;
    color: white;
    box-shadow: 0rem 1rem 2rem, rgba(0, 0, 0, 0.15);
    transform: translateY(-2px); }
  .btn-text:active {
    box-shadow: 0rem 0.5rem 1rem, rgba(0, 0, 0, 0.15);
    transform: translateY(0); }

.composition_photo-p1 {
  width: 85%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4); }
  .composition_photo-p1:hover {
    transform: scale(1.05);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }

.composition_photo-p2 {
  width: 113%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4); }
  .composition_photo-p2:hover {
    transform: scale(1.05);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }

.composition_photo-p3 {
  width: 150%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4); }
  .composition_photo-p3:hover {
    transform: scale(1.05);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }

.section-about-image-container {
  position: absolute;
  top: 155%;
  left: 70%; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }

.logo {
  height: 35px; }
  .logo-box {
    position: absolute;
    top: 40px;
    left: 40px; }

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.heading-primary {
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 60px; }
  .heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    animation: moveInLeft 1s ease-out; }
  .heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
