body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: $color-white;
  padding: 30px;
}

.headiing-secondary-text {
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  &:hover {
    transform: skewY(0deg) skewX(15deg);
    translate: all 0.2s;
  }
}

.bug-text {
  color: $color-primary;
}

.section-about-text {
  color: $color-grey;
  padding-left: 20%;
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.section-about-text.paragraph {
  padding-top: 1%;
  font-size: 0.75rem;
  &:not(:last-child) {
    margin-bottom: 8rem;
  }
}

.make-paragraph {
  width: 60%;
}
