.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-about-image-text-container {
}

.section-about-image {
  padding-right: 25%;
  color: red;
}
